# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.idea/.gitignore
/.idea/.idea.CustomerFile/.idea/contentModel.xml
/CustomerFile/obj/Debug/CustomerFile.csprojAssemblyReference.cache
/.idea/.idea.CustomerFile/.idea/encodings.xml
/.idea/.idea.CustomerFile/.idea/indexLayout.xml
/.idea/.idea.CustomerFile/.idea/modules.xml
/.idea/.idea.CustomerFile/.idea/projectSettingsUpdater.xml
/.idea/.idea.CustomerFile/riderModule.iml
/.idea/.idea.CustomerFile/.idea/vcs.xml
